<?xml version="1.0"?>
<config>
    <modules>
        <Samdoit_Mageportfolio>
            <version>1.0.4</version>
        </Samdoit_Mageportfolio>
    </modules>
    <frontend>
        <routers>
            <mageportfolio>
                <use>standard</use>
                <args>
                    <module>Samdoit_Mageportfolio</module>
                    <frontName>portfolio</frontName>
                </args>
            </mageportfolio>
        </routers>
        <layout>
            <updates>
                <mageportfolio>
                    <file>mageportfolio.xml</file>
                </mageportfolio>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mageportfolio>
				<use>admin</use>
				<args>
					<module>Samdoit_Mageportfolio</module>
					<frontName>mageportfolio</frontName>
				</args>
			</mageportfolio>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cms>
				<children>
					<items module="mageportfolio">
						<title>Portfolio</title>
						<sort_order>50</sort_order>
						<action>mageportfolio/adminhtml_mageportfolio</action>
					</items>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Samdoit_Mageportfolio>
							<title>Mageportfolio Module</title>
							<sort_order>10</sort_order>
						</Samdoit_Mageportfolio>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mageportfolio>
					<file>mageportfolio.xml</file>
				</mageportfolio>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mageportfolio>
                <class>Samdoit_Mageportfolio_Model</class>
                <resourceModel>mageportfolio_mysql4</resourceModel>
            </mageportfolio>
            <mageportfolio_mysql4>
                <class>Samdoit_Mageportfolio_Model_Mysql4</class>
                <entities>
                    <mageportfolio>
                        <table>mageportfolio</table>
                    </mageportfolio>
                </entities>
            </mageportfolio_mysql4>
        </models>
        <resources>
            <mageportfolio_setup>
                <setup>
                    <module>Samdoit_Mageportfolio</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageportfolio_setup>
            <mageportfolio_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mageportfolio_write>
            <mageportfolio_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mageportfolio_read>
        </resources>
        <blocks>
            <mageportfolio>
                <class>Samdoit_Mageportfolio_Block</class>
            </mageportfolio>
        </blocks>
        <helpers>
            <mageportfolio>
                <class>Samdoit_Mageportfolio_Helper</class>
            </mageportfolio>
        </helpers>
    </global>
</config>
